# Android
*.iml
.gradle
/local.properties
/.idea
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.hprof

# IDE
.idea/
*.ipr
*.iws
.artifacts/

# Gradle
.gradle/
build/
app/build/

# Backup/System
.DS_Store
OneDrive/
node_modules/
package-lock.json
